@font-face { font-family: Lato; src: url(../fonts/Lato-Regular.ttf); }
@font-face { font-family: WorkSans-Light; src: url(../fonts/WorkSans-Light.ttf); }

@media print {
  @page {
    size: A5 landscape;
  }
  * {
    overflow: hidden;
  }
  body {
    font-family: Lato, FontAwesome;
    background-color: transparent !important;
    color: #000 !important;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  footer {
    padding: 20px 0;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: WorkSans-Light;
    color: #000 !important;
  }
  hr {
    border: 1px solid #000;
  }
  table th, table td {
    width: auto;
    min-width: auto;
    max-width: auto;
  }
}
