/*TABLE*/
.v-scroll.table-shipment {
		height: calc(100vh - 273px);

	}


/*/RESPONSIVE */
@media screen and (max-width: 768px) {
	
	.v-scroll.table-shipment {
		height: calc(100vh - 268px);

	}
	
}

@media screen and (max-width: 504px) {
	.v-scroll.table-shipment {
		height: calc(100vh - 287px);

	}
	
	.shipment-btn {
		margin-top: 10px !important;
	}
	
	#total .font-weight-bold {
		margin-bottom: 20px;
	}
}