<section *ngIf="selected_customergroup">
    <div class="navbar">
        <div></div>
        <ul class="nav justify-content-end my-1">
               <li class="nav-item" >
            <button class="btn-primary-swm px-5 text-white border-0" [disabled]="!frm.form.valid" (click)="this.save(selected_customergroup)">Save</button>
          </li>
        </ul>
      </div>
    <form #frm="ngForm" class="row" autocomplete="off">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 px-4">
            <div class="form-group row ">
              <label for="colFormLabelSm" class=" pr-0 col-md-4 col-lg-2 col-xl-2 font-weight-bold text-primary-swm col-form-label-sm">Code
                <span class="form-important">*</span>
              </label>
              <div class="col-md-8 col-lg-10 col-xl-10">
                  <input required type="text" class="form-control form-control-sm" name="groupcode" [(ngModel)]="selected_customergroup.groupcode"/>
              </div>
            </div>
            <div class="form-group row ">
              <label for="colFormLabelSm" class=" pr-0 col-md-4 col-lg-2 col-xl-2 font-weight-bold text-primary-swm  col-form-label-sm ">Sheflife
              </label>
              <div class="col-md-8 col-lg-10 col-xl-10">
                <input pattern="[0-9]{0,10}" min="0" type="number"  class="form-control form-control-sm" name="shelflife" [(ngModel)]="selected_customergroup.shelflife"/>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6  col-md-6  col-lg-6 col-xl-6 px-4">
            <div class="form-group row ">
              <label for="colFormLabelSm" class=" pr-0 col-md-4 col-lg-3 col-xl-3 font-weight-bold text-primary-swm col-form-label-sm pl-2">Name </label>
              <div class="col-md-8 col-lg-9 col-xl-9">
                  <input type="text" class="form-control  form-control-sm" name="groupname" [(ngModel)]="selected_customergroup.groupname" required/>
              </div>
            </div>
          </div>
    </form>
  </section>
